@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Hanken Grotesk', 'Inter', 'Roboto', 'Helvetica Neue', Helvetica, Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Firefox */
html {
  scrollbar-color: #242424 #585858;
  scrollbar-width: thin;
}

/* WebKit and Chromiums */
::-webkit-scrollbar {
  background: #242424;
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: #585858;
  border-radius: 10px;
}